.expertise-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

@media (max-width: 693px) {
    .expertise-container{
        grid-template-columns: repeat(1, 1fr);
    }
}