.nav-cta,
.cta-btn {
  color: #fff !important;
}

.nav-cta:hover {
  color: #000 !important;
  background: none !important;
  border: 2px solid #000 !important;
}

.brand-imagery {
  width: 120px;
  height: 100%;
  object-fit: contain;
}

.navbar-nav {
  color: #000 !important;
  transition: all 0.3s ease;
}

.navbar-nav:hover,
.navbar-nav:focus {
  color: var(--color-nasblue) !important;
  
}

.cta-btn:hover,
.cta-btn:focus {
  color: var(--color-nasblue) !important;
  background: none !important;
  border: 2px solid var(--color-nasblue) !important;
}
