.footer-container {
  display: flex;
  flex-direction: column;
}

.footer-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-nav-holder {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.footer-navs {
  align-self: self-start;
  text-decoration: none;
  color: #fff;
  /* border: 2px solid red; */
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  margin: 1;
  transition: all 0.5s ease;
}

.tel-mail {
  align-self: flex-start;
}

.tel-mail-link {
  display: block;
  text-decoration: none;
  color: #fff;
  transition: all 0.5s ease;
}

.tel-mail-link:hover,
.tel-mail-link:focus, .footer-navs:hover,
.footer-navs:focus {
  color: red;
  
}

@media (max-width: 693px) {
  .footer-nav {
    flex-direction: column;
  }

  .footer-nav-holder {
    text-align: center;
  }

  .tel-mail {
    align-self: center;
  }

  .footer-navs {
    align-self: center;
  }
}
